@charset "utf-8";

html {
  font-size: 100%;
}

img {
  max-width: 100%;
}
body {
  font-size: 14px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.inner {
  max-width: 800px;
  margin: 0 auto;
}
.section-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

/*-------------------------------------------
Header
-------------------------------------------*/
#header {
  margin-top: 50px;
}
#header .site-title {
  width: 200px;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  margin-bottom: 50px;
}

/*-------------------------------------------
Index
-------------------------------------------*/
#index {
  background-color: #f5f5f5;
  padding: 50px;
  margin-bottom: 50px;
}
#index .index-inner {
  border: solid 1px #333;
  padding: 20px;
}
#index .index-inner .index-list {
  display: table;
  margin: 0 auto;
  padding: 10px;
}
#index .index-inner .index-list li {
  margin-bottom: 20px;
}
#index .index-inner .index-list li:last-child {
  margin-bottom: 0;
}
/*-------------------------------------------
Image
-------------------------------------------*/
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.list li {
  list-style: none;
  width: 49%;
  margin-bottom: 8px;
}
/*-------------------------------------------
Detail
-------------------------------------------*/
#detail {
  background-color: #f5f5f5;
  padding: 50px;
  margin-bottom: 50px;
}
#detail .flex {
  display: flex;
}
#detail .flex dl {
  padding-right: 50px;
}
#detail .flex dt {
  font-weight: bold;
}
#detail .flex dd {
  margin-bottom: 10px;
}
#detail .flex p {
  margin-bottom: 30px;
}
#detail .text {
  border-left-style: solid;
  border-width: 1px;
  padding-left: 50px;
  padding-right: 50px;
}
#detail .text .link {
  color: black;
}
/*-------------------------------------------
Footer
-------------------------------------------*/
#footer .inner {
  text-align: center;
  padding-bottom: 30px;
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 1024px) {
  /*-------------------------------------------
  Index
  -------------------------------------------*/
  #index {
    margin: 50px 20px;
  }
  /*-------------------------------------------
  Image
  -------------------------------------------*/
  .list {
    display: block;
  }
  .list li {
    width: 100%;
    text-align: center;
  }
  /*-------------------------------------------
  Detail
  -------------------------------------------*/
  #detail {
    margin: 50px 20px;
  }
  #detail .flex {
    display: block;
  }
  #detail .flex dl {
    padding-bottom: 30px;
  }
  #detail .text {
    border-left-style: none;
    border-top-style: solid;
    padding-top: 30px;
    padding-left: 0px;
  }
}
